**Exercício 1 - Aquecimento de Python para Ciência de Dados**

1. Imprima "Hello, World!" no console.

In [1]:
print("Hello, World!")

Hello, World!

2. Crie uma variável x com valor 10 e imprima seu valor.

In [2]:
x = 10
print(x)

10

3. Some dois números e exiba o resultado.

In [3]:
x = 50
y = 10
result = x + y
print(result)

60

4. Verifique se um número é par ou ímpar.

In [7]:
num = 10
resto = num % 2

if resto == 0:
  print("Número par")
else:
  print("Número Impar")

Número par

5. Crie uma função que receba dois números e retorne a soma deles.

In [8]:
def somar(a, b):
    return a + b


resultado = somar(5, 3)
print(resultado)

8

6. Crie uma lista com os números de 1 a 5 e imprima-a.

In [9]:
lista = [1,2,3,4,5]

print(lista)

[1, 2, 3, 4, 5]

7. Adicione o número 6 à lista criada na questão anterior.

In [10]:
lista.append(6)

print(lista)

[1, 2, 3, 4, 5, 6]

8. Remova o número 3 da lista.

In [11]:
lista.remove(3)

print(lista)

[1, 2, 4, 5, 6]

9. Acesse o terceiro elemento da lista.

In [12]:
lista[2]

4

10. Imprima o tamanho da lista.

In [13]:
tamanhoLista = len(lista)

print(tamanhoLista)

5

11. Crie um dicionário com informações de um carro (marca, modelo, ano).

In [14]:
carro = {
    "marca": "Ford",
    "modelo": "Ecosport Storm",
    "ano": 2020
}

12. Acesse o valor associado à chave "marca" no dicionário.

In [17]:
print(carro["marca"])

Toyota

13. Adicione uma nova chave "cor" com valor "preto" ao dicionário.

In [18]:
carro["cor"] = "preto"

14. Verifique se a chave "modelo" existe no dicionário.

In [19]:
if "modelo" in carro:
    print("A chave 'modelo' existe no dicionário.")
else:
    print("A chave 'modelo' não existe no dicionário.")

A chave 'modelo' existe no dicionário.

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [20]:
for chave in carro:
    print(chave)

marca
modelo
ano
cor

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [21]:
for chave in carro:
    print(chave)

marca
modelo
ano
cor

17. Crie uma função que receba uma lista e retorne a soma dos elementos.

In [22]:
def somar_lista(lista):
    return sum(lista)

numeros = [1, 2, 3, 4, 5]
resultado = somar_lista(numeros)
print(resultado)

15

18. Crie uma função que receba um dicionário e retorne todas as suas chaves.

In [23]:
def retorna_chaves(dicionario):
    return list(dicionario.keys())


carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2022,
    "cor": "preto"
}

chaves = retorna_chaves(carro)
print(chaves)

['marca', 'modelo', 'ano', 'cor']


19. Crie uma função que receba um dicionário e imprima chave e valor em linhas separadas.

In [26]:
def imprimir_chaves_valores(dicionario):
    for chave, valor in dicionario.items():
        print(f"Chave: {chave}")
        print(f"Valor: {valor}\n")


carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2022,
    "cor": "preto"
}

imprimir_chaves_valores(carro)

Chave: marca
Valor: Toyota

Chave: modelo
Valor: Corolla

Chave: ano
Valor: 2022

Chave: cor
Valor: preto

20. Crie uma classe chamada Pessoa com atributos nome e idade, e um método que imprima esses dados.

In [27]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade

    def imprimir_dados(self):
        print(f"Nome: {self.nome}")
        print(f"Idade: {self.idade}")

pessoa1 = Pessoa("Alice", 30)
pessoa1.imprimir_dados()

Nome: Alice
Idade: 30