In [39]:
!pip install pyspark

import kagglehub

# Download latest version
import kagglehub

# Download latest version
path = kagglehub.dataset_download("christofferms/pokemon-with-stats-and-image")

print("Path to dataset files:", path)

path = kagglehub.dataset_download("satvshr/top-4-used-car-sales-datasets-combined")

print("Path to dataset files:", path)

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Path to dataset files: /root/.cache/kagglehub/datasets/christofferms/pokemon-with-stats-and-image/versions/1
Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Downloading from https://www.kaggle.com/api/v1/datasets/download/satvshr/top-4-used-car-sales-datasets-combined?dataset_version_number=2...

100%|██████████| 446k/446k [00:00<00:00, 62.2MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2

In [15]:
# Iniciar uma Sessão Spark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ExemploPySpark") \
    .getOrCreate()

In [21]:
# Imports
import pandas as pd
# Read the data with pandas
df_pandas = pd.read_csv("/root/.cache/kagglehub/datasets/christofferms/pokemon-with-stats-and-image/versions/1/pokedex.csv")
df_pandas.head(4)

,Image,Index,Name,Type 1,Type 2,Total,HP,Attack,Defense,SP. Atk.,SP. Def,Speed
0,images/1.png,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,images/2.png,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,images/3.png,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,images/4.png,3,Venusaur Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80

In [22]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ExemploLeitura").getOrCreate()

# Leitura de um arquivo CSV
df_pyspark = spark.read.csv("/root/.cache/kagglehub/datasets/christofferms/pokemon-with-stats-and-image/versions/1/pokedex.csv", header=True, inferSchema=True)

In [23]:
#Nomes das colunas
for i in df_pandas.columns:
  print(i)

Image
Index
Name
Type 1
Type 2
Total
HP
Attack
Defense
SP. Atk.
SP. Def
Speed

In [25]:
# Seleciona colunas específicas - Pandas
df_selecionado_pandas = df_pandas[['Name', 'Defense','Attack']]

In [26]:
# Seleciona colunas específicas - PySpark
df_selecionado_spark = df_pyspark.select('Name', 'Defense','Attack')

In [27]:
# Filtra linhas onde coluna1 > 50 - Pandas
df_filtrado_pandas = df_pandas[df_pandas['Total'] > 2]

In [28]:
# Filtra linhas onde coluna1 > 50 - PySpark
df_filtrado_spark = df_pyspark.filter(df_pyspark.Total > 2)

In [29]:
# Calcula a média de coluna1 agrupada por coluna2 - Pandas
df_agregado_pandas = df_pandas.groupby('Speed')['SP. Atk.'].mean().reset_index()

In [34]:
# Calcula a média de coluna1 agrupada por coluna2 - PySpark
from pyspark.sql.functions import avg

# Calcula a média de coluna1 agrupada por coluna2
df_agregado_spark = df_pyspark.groupBy("Speed").agg(avg("Attack").alias("media_Speed_Attack"))

In [35]:
df_selecionado_spark.show(5)
df_filtrado_spark.show(5)
df_agregado_spark.show(5)

+--------------------+-------+------+
|                Name|Defense|Attack|
+--------------------+-------+------+
|           Bulbasaur|     49|    49|
|             Ivysaur|     63|    62|
|            Venusaur|     83|    82|
|Venusaur Mega Ven...|    123|   100|
|          Charmander|     43|    52|
+--------------------+-------+------+
only showing top 5 rows

+------------+-----+--------------------+------+------+-----+---+------+-------+--------+-------+-----+
|       Image|Index|                Name|Type 1|Type 2|Total| HP|Attack|Defense|SP. Atk.|SP. Def|Speed|
+------------+-----+--------------------+------+------+-----+---+------+-------+--------+-------+-----+
|images/1.png|    1|           Bulbasaur| Grass|Poison|  318| 45|    49|     49|      65|     65|   45|
|images/2.png|    2|             Ivysaur| Grass|Poison|  405| 60|    62|     63|      80|     80|   60|
|images/3.png|    3|            Venusaur| Grass|Poison|  525| 80|    82|     83|     100|    100|   80|
|images/4.png|    3|Venusaur Mega Ven...| Grass|Poison|  625| 80|   100|    123|     122|    120|   80|
|images/5.png|    4|          Charmander|  Fire|  NULL|  309| 39|    52|     43|      60|     50|   65|
+------------+-----+--------------------+------+------+-----+---+------+-------+--------+-------+-----+
only showing top 5 rows

+-----+------------------+
|Speed|media_Speed_Attack|
+-----+------------------+
|  148|             150.0|
|   31|              56.5|
|   85| 86.75555555555556|
|   65| 75.70370370370371|
|   78| 86.57142857142857|
+-----+------------------+
only showing top 5 rows

In [50]:
# Junção de dois DataFrames pandas
df1 = pd.read_csv("/root/.cache/kagglehub/datasets/christofferms/pokemon-with-stats-and-image/versions/1/pokedex.csv")
df2 = pd.read_csv("/root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv")
df_concat = pd.concat([df1, df2], axis=1)

In [57]:
df1 = spark.read.csv("/root/.cache/kagglehub/datasets/christofferms/pokemon-with-stats-and-image/versions/1/pokedex.csv", header=True, inferSchema=True)
df1 = df1.withColumnRenamed("SP. Atk.", "SP_Atk")
df1 = df1.withColumnRenamed("Type 1", "type")
df_juncao = df1.join(df2, on="type", how="left")
df2 = spark.read.csv("/root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv", header=True, inferSchema=True)

df_juncao = df1.join(df2, on="type", how="left")

df_juncao.show()

+-----+-------------+-----+--------------------+------+-----+---+------+-------+------+-------+-----+-----+-----+------------+----+----+------+----+-----+-----+--------+-------+-----+-----+
| type|        Image|Index|                Name|Type 2|Total| HP|Attack|Defense|SP_Atk|SP. Def|Speed|brand|model|transmission| age|fuel|engine|  km|owner|price|location|mileage|power|seats|
+-----+-------------+-----+--------------------+------+-----+---+------+-------+------+-------+-----+-----+-----+------------+----+----+------+----+-----+-----+--------+-------+-----+-----+
|Grass| images/1.png|    1|           Bulbasaur|Poison|  318| 45|    49|     49|    65|     65|   45| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|Grass| images/2.png|    2|             Ivysaur|Poison|  405| 60|    62|     63|    80|     80|   60| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|Grass| images/3.png|    3|            Venusaur|Poison|  525| 80|    82|     83|   100|    100|   80| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|Grass| images/4.png|    3|Venusaur Mega Ven...|Poison|  625| 80|   100|    123|   122|    120|   80| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
| Fire| images/5.png|    4|          Charmander|  NULL|  309| 39|    52|     43|    60|     50|   65| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
| Fire| images/6.png|    5|          Charmeleon|  NULL|  405| 58|    64|     58|    80|     65|   80| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
| Fire| images/7.png|    6|           Charizard|Flying|  534| 78|    84|     78|   109|     85|  100| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
| Fire| images/8.png|    6|Charizard Mega Ch...|Dragon|  634| 78|   130|    111|   130|     85|  100| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
| Fire| images/9.png|    6|Charizard Mega Ch...|Flying|  634| 78|   104|     78|   159|    115|  100| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|Water|images/10.png|    7|            Squirtle|  NULL|  314| 44|    48|     65|    50|     64|   43| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|Water|images/11.png|    8|           Wartortle|  NULL|  405| 59|    63|     80|    65|     80|   58| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|Water|images/12.png|    9|           Blastoise|  NULL|  530| 79|    83|    100|    85|    105|   78| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|Water|images/13.png|    9|Blastoise Mega Bl...|  NULL|  630| 79|   103|    120|   135|    115|   78| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|  Bug|images/14.png|   10|            Caterpie|  NULL|  195| 45|    30|     35|    20|     20|   45| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|  Bug|images/15.png|   11|             Metapod|  NULL|  205| 50|    20|     55|    25|     25|   30| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|  Bug|images/16.png|   12|          Butterfree|Flying|  395| 60|    45|     50|    90|     80|   70| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|  Bug|images/17.png|   13|              Weedle|Poison|  195| 40|    35|     30|    20|     20|   50| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|  Bug|images/18.png|   14|              Kakuna|Poison|  205| 45|    25|     50|    25|     25|   35| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|  Bug|images/19.png|   15|            Beedrill|Poison|  395| 65|    90|     40|    45|     80|   75| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
|  Bug|images/20.png|   15|Beedrill Mega Bee...|Poison|  495| 65|   150|     40|    15|     80|  145| NULL| NULL|        NULL|NULL|NULL|  NULL|NULL| NULL| NULL|    NULL|   NULL| NULL| NULL|
+-----+-------------+-----+--------------------+------+-----+---+------+-------+------+-------+-----+-----+-----+------------+----+----+------+----+-----+-----+--------+-------+-----+-----+
only showing top 20 rows

In [59]:
# Cria uma nova coluna 'nova_coluna' como a soma de 'coluna1' e 'coluna2'
df_pandas['nova_coluna'] = df_pandas['Speed'] + df_pandas['Attack']

In [60]:
from pyspark.sql.functions import col

# Cria uma nova coluna 'nova_coluna' como a soma de 'coluna1' e 'coluna2'
df_pyspark = df_pyspark.withColumn("nova_coluna", col("Speed") + col("Attack"))

In [61]:
# Ordena o DataFrame pelo 'coluna1' em ordem descendente
df_pandas_ordenado = df_pandas.sort_values(by='Speed', ascending=False)

In [62]:
# Ordena o DataFrame pelo 'coluna1' em ordem descendente
df_pyspark_ordenado = df_pyspark.orderBy(df_pyspark.Speed.desc())