**Exercício 1 - Aquecimento de Python para Ciência de Dados**

1. Imprima "Hello, World!" no console.

In [ ]:
print('Hello, World!')

Hello, World!

2. Crie uma variável x com valor 10 e imprima seu valor.

In [ ]:
x=10
print(x)

10

3. Some dois números e exiba o resultado.

In [ ]:
x=1
y=1
z = x+y
print(z)

2

4. Verifique se um número é par ou ímpar.

In [ ]:
num = int(input("Digite um número: "))

if num % 2 == 0:
  print(f"{num} é par.")
else:
  print(f"{num} é ímpar.")

Digite um número: 100
100 é par.

5. Crie uma função que receba dois números e retorne a soma deles.

In [ ]:
def somar(x, y):
    return x + y
somar(5,5)

10

6. Crie uma lista com os números de 1 a 5 e imprima-a.

In [ ]:
num = list(range(1, 6))
print(num)

[1, 2, 3, 4, 5]

7. Adicione o número 6 à lista criada na questão anterior.

In [ ]:
num.append(6)
print(num)

[1, 2, 3, 4, 5, 6]

8. Remova o número 3 da lista.

In [ ]:
num = list(range(1, 6))
num.remove(3)
print(num)

[1, 2, 4, 5]

9. Acesse o terceiro elemento da lista.

In [ ]:
print(num[2])

4

10. Imprima o tamanho da lista.

In [ ]:
num = list(range(1, 6))
print(len(num))

5

11. Crie um dicionário com informações de um carro (marca, modelo, ano).

In [ ]:
carro = {
    'marca': 'Fiat',
    'modelo': ' UNO MILLE WAY',
    'ano': 2024
}
print(carro)

{'marca': 'Fiat', 'modelo': ' UNO MILLE WAY', 'ano': 2024}

12. Acesse o valor associado à chave "marca" no dicionário.

In [ ]:
carro = {
    'marca': 'Fiat',
    'modelo': ' UNO MILLE WAY',
    'ano': 2024
}
marca = carro['marca']
print(marca)

Fiat

13. Adicione uma nova chave "cor" com valor "preto" ao dicionário.

In [ ]:
carro = {
    'marca': 'Fiat',
    'modelo': ' UNO MILLE WAY',
    'ano': 2024
}
carro['cor'] = 'preto'
print(carro)

{'marca': 'Fiat', 'modelo': ' UNO MILLE WAY', 'ano': 2024, 'cor': 'preto'}

14. Verifique se a chave "modelo" existe no dicionário.

In [ ]:
carro = {
    'marca': 'Fiat',
    'modelo': ' UNO MILLE WAY',
    'ano': 2024
}

if 'modelo' in carro:
  print("A chave 'modelo' existe .")
else:
  print("A chave 'modelo' não existe.")

A chave 'modelo'existe .

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [ ]:
carro = {
    'marca': 'Fiat',
    'modelo': ' UNO MILLE WAY',
    'ano': 2024
}

for key in carro:
  print(key)

marca
modelo
ano

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [ ]:
carro = {
    'marca': 'Fiat',
    'modelo': ' UNO MILLE WAY',
    'ano': 2024
}

for key in carro:
  print(key)

17. Crie uma função que receba uma lista e retorne a soma dos elementos.

In [ ]:
def soma_lista(lista):
    soma = sum(lista)
    return soma

numeros = [1, 2, 3, 4, 5]
resultado = soma_lista(numeros)
print(resultado)

15

18. Crie uma função que receba um dicionário e retorne todas as suas chaves.

In [ ]:
def chaves(dicionario):
  return list(dicionario.keys())

dicionario = {'nome': 'João', 'sobrenome': 'silva', 'nome completo': 'Joao jorel da silva'}
chaves = chaves(dicionario)
print(chaves)

['nome', 'sobrenome', 'nome completo']


19. Crie uma função que receba um dicionário e imprima chave e valor em linhas separadas.

In [ ]:
def print_dict(dicio):
    for k,v in dicio.items():
        print(f'{k}: {v}')

print_dict(carro)

marca: Fiat
modelo:  UNO MILLE WAY
ano: 2024

20. Crie uma classe chamada Pessoa com atributos nome e idade, e um método que imprima esses dados.

In [ ]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade

    def dados(self):
        print(f"Nome: {self.nome}")
        print(f"Idade: {self.idade}")

pessoa = Pessoa("João", 30)
pessoa.dados()

Nome: João
Idade: 30